body{
    margin: 0;
}
header{
    width: 100%;
    height: 70px;
    background-color: rgb(250, 250, 250);
    box-shadow: 0 5px 10px rgb(222, 220, 220);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.title{
    width: 30%;
    display: flex;
    justify-content: left;
    padding-left: 20px;
    font-size: 200%;
    font-family: 'Roboto', sans-serif;
    text-shadow: 0 4px 1px rgb(160, 160, 164);
}
.menu{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Roboto', sans-serif;
}

p{
    transition: 0.4s ease;
}
p:hover{
    color: blue;
    font-size: large;
}

.socials{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-icon{
    display: none;
    
}
#bar1, #bar2, #bar3{
    margin: 7px;
    width: 35px;
    height: 3px;
    border-radius: 2px;
    background-color: blue;
}

@media (max-width: 320px){
    
}

@media (max-width:480px) {
    .title{
        width:fit-content;
        font-size: 160%;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
    
    .menu-icon.active #bar1{
        transform: translateY(4px) rotate(45deg);
    }
    .menu-icon.active #bar2{
        display: none;
    }
    .menu-icon.active #bar3{
        transform: translateY(-4px) rotate(-45deg);
    }
    
    .menu{
        position: fixed;
        background-color: rgb(250, 250, 250);
        box-shadow: 0 5px 10px rgb(222, 220, 220);
        flex-direction: column;
        margin-top: -100%; 
        width: 100%;
        transition: 0.8s; 
    }
    .menu p{
        margin-left: -290px;
    }
    .menu.active{
        margin-top: 68%;
    }
   
}
